body {
    padding-top: 50px;

  }

  .starter-template {
    padding: 80px 15px;


  }

   .navbar-fixed-top {
    border: 0;
    background-color: #002f4d;
    
  } .navbar-fixed-top {
    border: 0;
    background-color: #002f4d;
    
  }